.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  height: 100%;
}

.content {
  padding: 30px 30px 0 30px;
  margin-top: 64px;
}

.footer {
  text-align: center;
}

.page {
  height: 100%;
}
